.title_animation {
  opacity: 1;
  // animation: 1s ease forwards 3s fade_out_intro;
  font-family: $font-default;
  color: $main_text;

  position: absolute;
  width: 100%;
  top: calc(50% - 40px);
  height: rem-calc(80px);
  margin: 0;
  text-align: center;
  @include fts(16,26);

  @include large {
    position: fixed;
    top: calc(50% - 45px);
    left: calc(50% - 390px);
    width: rem-calc(800px);
    @include fts(30,30);
  };

  & span {
    opacity: 0;
  }

  & .ani1 { animation: 1s ease forwards .27s fade_in_intro; }
  & .ani2 { animation: 1s ease forwards .34s fade_in_intro; }
  & .ani3 { animation: 1s ease forwards .41s fade_in_intro; }
  & .ani4 { animation: 1s ease forwards .48s fade_in_intro; }
  & .ani5 { animation: 1s ease forwards .55s fade_in_intro; }
  & .ani6 { animation: 1s ease forwards .62s fade_in_intro; }
  & .ani7 { animation: 1s ease forwards .69s fade_in_intro; }
  & .ani8 { animation: 1s ease forwards .76s fade_in_intro; }
  & .ani9 { animation: 1s ease forwards .83s fade_in_intro; }
  & .ani10 { animation: 1s ease forwards .9s fade_in_intro; }
  & .ani11 { animation: 1s ease forwards .97s fade_in_intro; }
  & .ani12 { animation: 1s ease forwards 1.04s fade_in_intro; }
  & .ani13 { animation: 1s ease forwards 1.11s fade_in_intro; }
  & .ani14 { animation: 1s ease forwards 1.18s fade_in_intro; }
  & .ani15 { animation: 1s ease forwards 1.25s fade_in_intro; }
  & .ani16 { animation: 1s ease forwards 1.32s fade_in_intro; }
}


@include keyframes(fade_in_intro) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@include keyframes(fade_out_intro) {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
