.footer {
  padding: 0 rem-calc(10);
  opacity: 0;
  animation: 2s ease forwards 6s fade_in_intro;
}

.credits {
  @extend %text;
  @include fts(10,14);
  color: $gray_01;
  font-weight: bold;
  margin-top: rem-calc(20);
  margin-bottom: rem-calc(20);

  @include medium {
    @include fts(12,16);
    margin-top: rem-calc(30);
    margin-bottom: rem-calc(30);
  }
}
