.hero {
  position: relative;

  &.is-fullheight {
    height: auto;
    min-height: 0;

    & .hero-body {
      display: block;
    }

    @include medium {
      height: 100vh;
      min-height: 100vh;
      overflow: hidden;

      & .hero-body {
        display: flex;
      }
    }
  }

  &-body {
    position: relative;
    padding: 0;
    width: 100%;

    @include medium {
      height: 100%;
    }
  }
}
