/*
** CSS Grid
*/

// Define the main architecture
// header - main - aside - footer

.wrapper {
  width: 100%;
  max-width: $global-width;
  display: grid;
  margin: 0 auto;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";

    @include medium {
      grid-template-columns: 2fr 3fr;
      grid-template-areas:
      "header header"
      "aside main"
      "aside footer";
    }
    @include large {
      grid-template-rows: repeat(6, min-content);
      grid-template-columns: 3fr 2fr;
      grid-template-areas:
      "main header"
      "main aside"
      "main aside"
      "main aside"
      "main aside"
      "main footer";
    }


  &--column {
    color: $white;

    &.header {
      grid-area: header;
    }
    &.main {
      grid-area: main;
    }
    &.aside {
      grid-area: aside;
    }
    &.footer {
      grid-area: footer;
    }
  }
}


.grid {
  /*
  ** Grid maker
  */
  @include grid-maker;

  & .column {
    background-color: $grey_01;
    color: $black;
  }

  /*
  ** Grid context
  *** better control of the subgrid elements
  */
  // header
  &.header {
    grid-template-columns: auto 1fr;
    @include large {
      grid-template-columns: 1fr auto;
    }
  }

  // aside
  &.aside {
    grid-template-columns: 1fr;
    @include medium {
      grid-template-columns: 1fr auto;
    }
    @include large {
      @include defaultGridTemplate;
    }
  }
}
